<label for="dropdown-{{ name }}-{{ index }}">{{ title }}</label>
<input type="checkbox" id="dropdown-{{ name }}-{{ index }}">
<div class="dropdown-content has-text-white">
	<div class="p-3">{{ body }}</div>
</div>