<div id="{{id}}-panel" class="modal has-text-white">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head dark-primary-bg borderless has-text-white">
			<p class="modal-card-title">{{title}}</p>
			<button class="delete"></button>
		</header>
		<section class="modal-card-body dark-secondary-bg">
			<div class="content">
				{{content}}
			</div>
		</section>
		<footer class="modal-card-foot dark-primary-bg borderless">
			{{footer}}
		</footer>
	</div>
</div>